.container {
    display: flex;
    flex-wrap: wrap;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #87D4FF;
}

.nav-list {
    display: flex;
    list-style-type: none;
    font-size: 1rem;
    font-weight: 400;
}

.nav-list a {
    display: block;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
}

h1 {
    text-align: center;
}

figure{
    border: 2px solid black;
    border-radius: 3px;
}
