:root {
    box-sizing: border-box;
  }
  
  header, footer {
    display: flex;
    justify-content: center;
    color: #bbbbbb;
  }

  #navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #87D4FF;
}

.nav-list {
    display: flex;
    list-style-type: none;
    font-size: 1rem;
    font-weight: 400;
}

.nav-list a {
    display: block;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
}

section{
    display: flex;
}
  
  .container {
    display: flex;
  }

  footer{
      display: flex;
  }