:root {
    box-sizing: border-box;
  }
  
  header, footer {
    display: flex;
    justify-content: center;
    color: #bbbbbb;
  }
  
  button {
    height: 3rem;
    border-radius: 10px;
    font-size: larger;
    background-color: #b9f45a;
    color: #a7d;
    font-weight: 600;
}

section{
    display: flex;
}
  
  .container {
    display: flex;
  }

  footer{
      display: flex;
  }